@mixin svgMain(){
    /* https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(54%) sepia(63%) saturate(406%) hue-rotate(86deg) brightness(97%) contrast(91%);
}

@mixin svgHover(){
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(101deg) brightness(100%) contrast(100%);
}

$nav-main: rgb(4, 22, 2);
$nav-blue: #0a1d6d;

.nav {
    /*padding: 0px 15px 0px 15px;*/
    height: 100vh;
    width:40px;
    background-color: $nav-main;
  
    /*display:grid;
    grid-template-rows: 70px 1fr 1fr;*/
  
    display:flex;
    flex-direction:column;
    align-content:center;
    transition:  0.5s ease-in-out, opacity 0.5s linear;
  
    &:hover{
      padding: 0px 25px 0px 25px;
      width:50px;
      
    }
  
  
    &:hover .nav__elem > span{
      display:block;
      opacity: 1;
    }
    
  
    &__img{
      flex-grow:7;
      
      & img {
        padding-top:20px;
        width:80%; 
        height:auto;
      }
    }
    &__elem{
      flex-grow:1;
      width:100%;
      
      & span{
        display: none;
        opacity: 0;
      }
      & img{
        width:80%;
        transition: width  0.5s ease-in-out, filter 0.75s linear;
  
        &:hover{
          width:100%;
          @include svgHover();
          
        }
      }
        
    }
  
    &__end{
      flex-grow:7;
      padding: 10px 10px;
      display:flex;
      flex-flow: row wrap;
      align-content:flex-end;
      justify-content:center;
  
      & img {
        margin-bottom:50px;
        width: 30px;
        height:30px;
      }
  
      
    }
  
    a {
      font-weight: bold;
      color: #edf8e6;
      text-decoration: none;
      font-weight: 600;
  
      &.router-link-exact-active {
        
        font-weight: 800;
        text-decoration:none; 
        cursor:pointer; 
        & img {
            @include svgHover();
        }
      }
    }
  }
  
  .svg-green{
    /* https://codepen.io/sosuke/pen/Pjoqqp*/
    @include svgMain();
  }

  .svg-blue{
    filter: invert(54%) sepia(63%) saturate(406%) hue-rotate(158deg) brightness(97%) contrast(91%);
  }
  